body {
    font-family: helvetica;
}

header {
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center;
    background-image: url("./pattern.jpeg");
}

h4 {
    font-weight: normal;
}

.product {
    color: white;
    font-size: 32px;
    font-weight: bold;
}

.price {
    font-weight: bold;
    color: blue;
}

#brushes {
    background-color: mediumspringgreen;
}

#frames {
    background-color: lightcoral;
}

#paint {
    background-color: skyblue;
}